/*overwrite our header styles*/
body {
  background-color: #fff2ff;
}

#header {
  background-color: #660033 !important;
  border-color: #33001a !important;
  color: #ffe6ff !important;
}
#headerLinks a,
#headerLinks a:hover {
  text-decoration: none;
  color: #ffe6ff !important;
}

.c-hamburger {
  background-color: #ffa3ca;
}


/*blog stuff*/
#sidebar {
  position: fixed;
  font-size: 25px;
  background-position: right;
  background-size: auto 100%;
  height: calc(100% - 32px);
  width: 33%;
  left: -33%;
  border-right: 1px solid black;
  overflow-y: scroll;
  z-index: 5000;
}

#sidebarTransparency {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
}

#sidebarContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 49;
  color: black;
}


#sidebarContent > ol > li > ul > li {
  padding-left: 30px;
  margin-left: -15px;
}


#sidebar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #888;
}

@media only screen and (max-device-width: 480px) {
  #sidebar {
    width: 100%;
  }
}

ol, ul, li {
  list-style: none;
}

#sidebarContent > ol {
  padding-top: 30px;
  padding-left: 0;
}


#menuBar {
  position: fixed;
  left: 0;
  z-index: 5001;
}

.year {
  padding-left: 15px;

  ul {
    display: none;
    font-size: 14px;

    li {
      padding: 0 0 5px 15px;
      font-family: 'Open Sans', sans-serif;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  ul.active {
    display: initial;
  }
}

.year:hover {
  cursor: pointer;
}

#post {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  text-indent: 25px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 10% 50px 10%;
}

/* ideally this needs to happen globally if the menuBar is present */
#title {
  padding-left: 40px !important;
}